<div class="body_contents">
    <header class="w3-display-container w3-content w3-wide w3-center" style="max-width:1500px;" id="home">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-hide-small w3-text-light-green">About Us</span></h1>
    </header>
    <div class="w3-padding">
        <h3 class="w3-text-dark-gray">Our Team</h3>
        <p>We are TP9 from Monash University FIT5120 unit</p>
        <ul>
            <li>Weizhe Han          whan0006@student.monash.edu</li>
            <br>
            <li>Yichen Ning         ynin0004@student.monash.edu</li>
            <br>
            <li>Wai Shan Ma         wmaa0024@student.monash.edu</li>
            <br>
            <li>Yongyi Li           ylii0487@student.monash.edu</li>
            <br>
            <li>Aadithya Chandrasekar      acha0135@student.monash.edu</li>
            <br>

        </ul>
        <br>
        <p>Please feel free to contact with us</p>
        </div>
</div>
<br>
<br>