<div class="body_contents">
    <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
        <img class="w3-image" src="../static/images/bins.jpg" alt="Architecture" width="100%" style="background-opacity:75%; padding: 50px 10px">
        <div class="w3-display-middle w3-margin-top w3-center">
            <h1 class="w3-xxlarge w3-text-white"><span class="w3-hide-small w3-text-light-grey">Garbage Classification Guideline</span></h1>
        </div>
    </header>
    <h1></h1>
</div>
