<div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Send Feedback</h3>
    <p>Lets get in touch and talk about your next feeling about the recycling knowledge.</p>
    <form action="/SubmitFeedback" target="_blank" method="post">
      <input class="w3-input w3-border" type="text" placeholder="Name" name="feedback_name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" name="feedback_email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" name="feedback_subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" name="feedback_comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND FEEDBACK
      </button>
    </form>
  </div>