<h1>Recycling Events</h1>

<a class="button" href="/CreateEvent">Create A New Event</a>
<div class="row">
  <div class="column">
    <div class="card">
      <h3>Event 1</h3>
      <p>Date</p>
      <p>Contents</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Event 2</h3>
      <p>Date</p>
      <p>Contents</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Event 3</h3>
      <p>Date</p>
      <p>Contents</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Event 4</h3>
      <p>Date</p>
      <p>Contents</p>
    </div>
  </div>
</div>
