<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <!-- Avatar image in top left corner -->
    <a href="#GE" class="w3-bar-item w3-button">
      <p>Glen Eira City Council</p>
    </a>
    <a href="#MEL" class="w3-bar-item w3-button">
      <p>Melbourne City Council</p>
    </a>
    <a href="#MONASH" class="w3-bar-item w3-button">
      <p>Monash City Council</p>
    </a>
  
</nav>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><style>
body {font-family: "Roboto", sans-serif}
.w3-bar-block .w3-bar-item {
  padding: 16px;
  font-weight: bold;
}
</style>


<div class="body_contents">
    <header class="w3-display-container w3-content w3-wide w3-center" style="max-width:1500px;" id="home">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-hide-small w3-text-light-green">FAQ</span></h1>
    </header>

    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay"></div>

<div class="w3-main" style="margin-left:250px;">



<div class="w3-container" style="padding:32px" id="GE">

<h2>Where and how should I place my bins?(Glen Eira City Council)</h2>

<p>Put your bins on the nature strip, ensuring that you:</p>

<ul class="w3-leftbar w3-theme-border" style="list-style:none">
 <li>don't overload your bins (maximum 75kg)</li>
 <li>don't place items on top of or next to your bins</li>
 <li>try and bring in your bin on the day we collect it</li>
 <li>bins can be placed on driveways to ensure they are accessible for collection</li>
 <li>leave at least half a metre between bins and other objects</li>
 <li>place your bins facing towards the road</li>
 <li>avoid trees, parked cars and overhead power lines.</li>
</ul>
<br>
</div>

<div class="w3-container" style="padding:32px">

    <h2>When is my bin collection day?(Glen Eira City Council)</h2>
    
    
    <ul class="w3-leftbar w3-theme-border" style="list-style:none">
     <li>green bin food and garden waste: once a week</li>
     <li>red bin general waste: once a fortnight</li>
     <li>yellow bin recycling: once a fortnight</li>
     <li>Hard rubbish, bulk carboard and bundled branches: you need to book a collection</li>
    
    </ul>
    <br>
</div>

<div class="w3-container" style="padding:32px">

    <h2>What if I put my bin out too late, or not at all?(Glen Eira City Council)</h2>
    
    
    <ul class="w3-leftbar w3-theme-border" style="list-style:none">
     <li>Please ensure you put your bin out the night before collection. It's your responsibility to put your bin out on time and it's not practical for the waste collections trucks to return.</li>

    
    </ul>
    <br>
</div>

<div class="w3-container" style="padding:32px">

    <h2>My bin is damaged(Glen Eira City Council)</h2>
    
    
    <ul class="w3-leftbar w3-theme-border" style="list-style:none">
     <li>We'll repair or replace your damaged bin. Report your damaged bin on our online request system or by calling us on 9524 3333.</li>

    
    </ul>
    <br>
</div>

<div class="w3-container" style="padding:32px" id="MEL">

    <h2>How often are bins collected?(Melbourne City Council)</h2>
    
    
    <ul class="w3-leftbar w3-theme-border" style="list-style:none">
     <li>General waste (landfill) bins and food and garden waste bins are collected weekly.</li>
     <li>Recycling (yellow lid) bins are collected fortnightly, except for low-rise multi-unit properties with a communal food and garden organics service. These properties have a weekly recycling collection.</li>
     <li>If your property has a lime green lid food and garden waste bin and a fortnightly recycling collection, please refer to the collection calendars.</li>
    
    </ul>
    <br>
</div>

<div class="w3-container" style="padding:32px" id="MONASH">

    <h2>When we collect your bins?(Monash City Council)</h2>
    
    
    <ul class="w3-leftbar w3-theme-border" style="list-style:none">
     <li>Landfill (red) bins are collected every 2 weeks, on the alternate week to yellow bins.</li>
     <li>Recycling (yellow) bins are collected every 2 weeks, on the alternate week to red bins.</li>
     <li>Food and garden waste (green) bins are collected every week.</li>
    
    </ul>
    <br>
</div>


<div class="w3-container" style="padding:32px">

    <h2>Tips for washing your bins(Monash City Council)</h2>
    
    
    <ul class="w3-leftbar w3-theme-border" style="list-style:none">
     <li>Use a garden hose to rinse the inside of the bin. A high-pressure hose can help give it a thorough clean, however a garden hose will work as well.</li>
     <li>Turn the bin upside down to drain the water. Laying the bin on its side first, before spraying with the hose, can make it easier to turn the bin upside down.</li>
     <li>Once the water has drained out, turn the bin upright and let it dry completely before using it again.</li>
    
    </ul>
    <br>
</div>

<div class="w3-container" style="padding:32px">

    <h2>How to deter insects and rodents(Monash City Council)</h2>
    
    
    <ul class="w3-leftbar w3-theme-border" style="list-style:none">
     <li>If you have ripened fruit or vegetables, eat these first or put them in the fridge until you can use them.</li>
     <li>Clean up any spills or mess around your caddy or green waste bin.</li>
     <li>Wrap rotten food in paper towel and put straight into your green waste bin or freeze in a separate container and put in your green waste bin the night before collection.</li>
     <li>Spray lavender or mint around the base of your green waste bin - rats and mice don’t like this smell.</li>
    
    </ul>
    <br>
</div>


<br>
<br>
<br>



</div>
</div>

</div>

     
</div>
</div>







<script>
// Open and close the sidebar on medium and small screens
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Change style of top container on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
  if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
    document.getElementById("myTop").classList.add("w3-card-4", "w3-animate-opacity");
    document.getElementById("myIntro").classList.add("w3-show-inline-block");
  } else {
    document.getElementById("myIntro").classList.remove("w3-show-inline-block");
    document.getElementById("myTop").classList.remove("w3-card-4", "w3-animate-opacity");
  }
}

// Accordions
function myAccordion(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme";
  } else { 
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-theme", "");
  }
}
</script>
