<div class="body_contents">

<header class="w3-display-container w3-content w3-wide w3-center" style="max-width:1500px;" id="home">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-hide-small w3-text-light-green">Feedbacks</span></h1>
</header>
<div class="container">

    <div class="text">
        <p>Do you have any ideas or suggestion?</p>
        <p>Let us know!</p>
    </div>
    <a class="button" href="/SubmitFeedback">Submit A New Feedback for us</a>
</div>



<div class="row">
  {% for feedback in feedbacks %}
        <div class="column">
            <div class="card">
                <h3 class="w3-text-green"><b>Topic: </b>{{ feedback[3] }}</h3>
                <p><b>Comments: </b>{{ feedback[4] }}</p>
            </div>
        </div>
    {% endfor %}

</div>
</div>
