<br>
<div class="body_contents">
<header class="w3-display-container w3-content" style="max-width:1500px;" id="home">
  <img src="../static/images/background.jpg" alt="Architecture" width="1500" height="600" style="opacity:0.7; width: content-box">
  <div class="w3-display-middle w3-center">
      <h1 class="w3-xxxlarge w3-text-black w3-hover-text-green"><b>WELCOME TO RECYCLE HOUSEHOLD!</b></h1>
      <h2 class="w3-xxlarge w3-text-black">We'RE WASTE SEPARATION ASSISTANT</h2>
      <button class="w3-button w3-green w3-padding-large w3-large w3-margin-top"><a href="/Classification">View Our Waste Sorting Guideline</a></button>
  </div>
</header>

<!-- Page content -->

<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Waste Sorting Classification</h3><br>
  <img src="/static/images/background2.jpg" alt="classification" style="width: 50%; height: 50%">
  <p>This page can help you to figure out which bin your household rubbish should go in.</p>
  <button class="w3-button w3-green w3-padding-large w3-large w3-margin-top"><a href="/Classification">View Our Waste Sorting Guideline</a></button>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Waste Map</h3><br>
  <img src="/static/images/map.jpg" alt="map" style="width: 50%; height: 50%">
  <p>On this page you can find the location of each council's waste collection and disposal.</p>
   <button class="w3-button w3-green w3-padding-large w3-large w3-margin-top"><a href="/WasteMap">View Our Waste Map</a></button>

  </div>
</div>

<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Event</h3><br>
  <img src="/static/images/event.jpg" alt="classification" style="width: 70%; height: 70%">
  <p>On this page, you can find some relevant activities for waste sorting</p>
  <button class="w3-button w3-green w3-padding-large w3-large w3-margin-top"><a href="/Event">View Our Events</a></button>

  </div>
</div>
</div>


</div>

<br>
<br>