<div class="body_contents">
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="../static/images/homepage_background.jpg" alt="Architecture" width="1500" height="800" style="background-opacity:75%">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Reduce</b></span> <span class="w3-hide-small w3-text-light-grey">Our Wastes</span></h1>
      <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"><a href="#news">Related News</a></button>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- News Section -->
  <div class="w3-container w3-padding-32" id="news">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Related News</h3>
      <h4 class="w3-text-dark-gray">Source for all news: <a href="https://www.sustainability.vic.gov.au/news/news-articles?newsArticleType%5B%5D=news">Sustainability Virctoria</a></h4>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">08 March 2023</div>
        <img src="/static/images/news1.jpg" alt="News" style="width:100%; height: 250px" >
          <h4 class="w3-text-dark-gray"><a href="https://www.sustainability.vic.gov.au/news/news-articles/sv-introduces-leave-for-menstruation-and-menopause">SV introduces leave for menstruation and menopause</a></h4>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">22 February 2023</div>
        <img src="/static/images/news2.jpg" alt="News" style="width:100%; height: 250px">
          <h4 class="w3-text-dark-gray"><a href="https://www.sustainability.vic.gov.au/news/news-articles/community-action-through-repair-and-reuse-in-mernda">Community action through repair and reuse in Mernda</a></h4>

      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">22 February 2023</div>
        <img src="/static/images/news3.jpg" alt="News" style="width:100%; height: 250px">
          <h4 class="w3-text-dark-gray"><a href="https://www.sustainability.vic.gov.au/news/news-articles/how-one-community-has-come-together-to-fight-textile-waste">How one community has come together to fight textile waste</a></h4>

      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">22 February 2023</div>
        <img src="/static/images/news4.jpg" alt="News" style="width:100%; height: 250px">
        <h4 class="w3-text-dark-gray"><a href="https://www.sustainability.vic.gov.au/news/news-articles/a-vibrant-hindu-community-embraces-solar">A vibrant Hindu community embraces solar</a></h4>
      </div>
    </div>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">22 February 2023</div>
        <img src="/static/images/news5.jpg" alt="News" style="width:100%; height: 250px">
         <h4 class="w3-text-dark-gray"><a href="https://www.sustainability.vic.gov.au/news/news-articles/mallacoota-builds-community-solar-farm-to-purify-towns-water">Mallacoota builds community solar farm to purify town’s water</a></h4>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">22 February 2023</div>
        <img src="/static/images/news3.jpg" alt="News" style="width:100%; height: 250px">
         <h4 class="w3-text-dark-gray"><a href="https://www.sustainability.vic.gov.au/news/news-articles/geelong-sustainability-helps-power-up-the-local-ymca-to-go-solar">Geelong Sustainability helps power up the local YMCA to go solar</a></h4>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">22 February 2023</div>
        <img src="/static/images/news1.jpg" alt="News" style="width:100%; height: 250px">
         <h4 class="w3-text-dark-gray"><a href="https://www.sustainability.vic.gov.au/news/news-articles/students-take-action-to-bin-pesky-fruit-stickers">Students take action to bin pesky fruit stickers</a></h4>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">22 February 2023</div>
        <img src="/static/images/bins.jpg" alt="News" style="width:100%; height: 250px">
          <h4 class="w3-text-dark-gray"><a href="https://www.sustainability.vic.gov.au/news/news-articles/brentwood-secondary-college-top-of-the-class-on-collective-action">Brentwood Secondary College top of the class on collective action</a></h4>
      </div>
    </div>
  </div>

    <br>
    <br>
    <br>
</div>
</div>