<!-- Footer -->
<br>
<br>
</div>
<footer class="w3-container w3-theme-d1 w3-padding-16 w3-center">
  <h3>Copyright by: FIT5120 & FIT5122 Monash University 2023 Semester 1</h3>
  <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
    <span class="w3-text w3-theme-light w3-padding">Go To Top</span>
    <a class="w3-text-white w3-xlarge" href="#home"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up w3-xxxlarge"></i></span></a>
  </div>
</footer>


</body>
</html>