<header class="w3-display-container w3-content w3-wide w3-center" style="max-width:1500px;" id="home">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-hide-small w3-text-light-green">Waste Map</span></h1>
</header>

<form action="/WasteMap" target="_blank" method="post">
        <label>
            <select class="w3-input w3-section w3-border" type="text" placeholder="Select your location" name="location">
                <option>Citywide Waste and Recycling Centre</option>
                <option>Monash Waste Transfer and Recycling Centre</option>
                <option>Boroondara Transfer Station</option>
                <option>Monash Recycling & Waste Centre</option>
                <option>Whitehorse Recycling Waste Centre</option>
                <option>Knox Transfer Station</option>
                <option>Boroondara Recycling and Waste Centre</option>
                <option>Stonnington Waste Transfer Station'</option>
                </select>
        </label>
    <button type="submit">Search</button>
</form>

<div class="w3-content">



<div class="w3-row w3-margin">
        {% for area in areas %}
        <div class="w3-third">
                <img src="../static/images/{{ area[2] }}.png"  style="width:100%;min-height:200px" alt="location">
                <a href="../static/images/{{ area[2] }}.png" target="_blank">show large image</a>
        </div>
        <div class="w3-twothird w3-container">
                <h2>{{ area[2] }}</h2>
                <p>
                        <br>{{ area[0] }} </br>
                        <br><a href={{area[1]}} target="_blank">{{ area[1] }}</a></br>
               
                        <br>{{ area[3] }}</br>
                        <br>{{ area[4] }}</br>
                </p>
        </div>

        {% endfor %}
        

</div>
</div>

<br>
<br>

